html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
  background: url(https://images.unsplash.com/photo-1516166328576-82e16a127024?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80) no-repeat;
  background-size: cover;
  color: white;
}

/* DRY */

nav, .homeWrapper, .projectWrapper, .desktop, .projectWrapper div, .contactWrapper, form {
  display: flex;
}

/* NAVBAR */

nav {
  background-color: pink;
  font-family: 'Press Start 2P', cursive;
  padding: 2px;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

.far {
  color: #1c4656;
}

.local {
  /* font-family: 'Inconsolata', monospace; */
  /* font-weight: 700; */
  padding-right: 1%;
  /* flex-basis: 50%; */
  flex-wrap: nowrap;
}

/* Home.exe Section */

p {
  margin: 0;
  margin-bottom: 18px;
}

/* home.exe bar */

.containerbar {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(233, 204, 250, 0.781);
  margin: 7% 17% 0% 17%;
  border-width: 7px 7px 0px 7px;
  border-style: solid;
  border-color: white;
  padding-left: 2%;
  padding-bottom: 1px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-rectangle-xmark {
  margin-right: 2%;
  font-size: 1.7rem;
  cursor: pointer;
}

/* container below bar */

.homeWrapper, .viewWrapper {
  background-color: rgba(45, 35, 66, 0.3);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10% 10% 11% 10%;
  margin: 0% 17% 0% 17%;
  border: 7px inset white;
}

.viewWrapper {
  margin: 0% 27% 17% 27%;
  padding: 0;
}

.viewSection .short {
  margin: 6% 27% 0 27%;
}

.projectWrapper {
  background-color: rgba(45, 35, 66, 0.3);
  flex-wrap: wrap;
  padding: 0 3%;
  margin: 0% 26% 10% 26%;
  border: 7px inset white;
}

.projects .padded {
  margin: 5% 26% 0% 26%;
}

.contactWrapper {
  background-color: rgba(45, 35, 66, 0.3);
  flex-direction: column;
  align-items: center;
  margin: 0% 33% 10% 33%;
  border: 7px inset white;
}

.shorter {
  margin: 6.5% 33% 0 33%;
}

/* Desktop */

.desktop {
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 1% 0% 10% 85%;
}

.pinkfolder {
  max-width: 40%;
  padding-top: 1%;
}

.catpics {
  color: white;
  text-align: center;
  margin-top: 0;
}

/* links */

a {
  text-decoration: none;
}

li {
  cursor: pointer;
}

.mobile {
  display: none;
  color: white;
}

/* Button */

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  margin: 0 6px;
  font-size: 1rem;
}

.meow {
  font-size: 1.2rem;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* view.exe extras */

.viewWrapper img {
  padding: 3.5%;
  width: 22%;
  border-radius: 100%;
}

.shortBio {
  display: flex;
  align-items: center;
  padding-right: 4%;
}

.lineBreak {
  display: block;
  padding: 5%;
}

.myspace {
  color: #008ddd;
  background: white;
}

.viewWrapper p {
  background: #36395a6b;
  font-weight: 700;
  margin: 4%;
  padding: 2% 10%;
  text-align: center;
  line-height: 22px;
  font-size: 1.1rem;
}

/* projects.exe extras */

.fleximg {
  width: 95%;
}

.projectWrapper div {
  padding-bottom: 3%;
}

.projectWrapper span {
  padding-top: 3%;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
}

.projectWrapper p {
  background: #36395a6b;
  margin-top: 3%;
  padding: 2.5% 5% 2% 5%;
  text-align: center;
  line-height: 22px;
  /* font-size: 1.1rem; */
}

.scroller {
  height: 65vh;
  overflow-y: scroll;
}

.one, .two, .three, .four, .five {
  flex-direction: column;
  align-items: center;
}

.technologies {
  background: #36395a6b;
  font-size: 2.5rem;
  cursor: default;
}

.techIcons {
  margin: 0;
  padding: 0;
}

.one .technologies {
  padding: 1% 2%;
  margin: 3% 0;
}

.techIcons .fa-brands {
  cursor: default;
}

.fa-html5 {
  color: #f16524;
}

.fa-css3-alt {
  color: #33a7dd;
}

.fa-js {
  color: #f7e018;
}

.fa-git {
  color: white;
}

.github {
  color: #728295;
}

/* contact.exe extras */

.contactInfo {
  margin: 4% 5%;
  padding: 0 5%;
  font-size: 2rem;
}

a {
  color: white;
}

form {
  background: #36395a6b;
  margin: 0 5% 8% 5%;
  padding: 4% 5%;
  flex-direction: column;
}

input {
  margin: 5% 0;
  padding: 3% 0;
}

label {
  font-size: 1.2rem;
}

textarea {
  margin: 4% 0;
}

.smol {
  margin: 3% 29% 0 29%;
}

.warning {
  text-align: center;
  padding-bottom: 5%;
}

/* FOOTER */

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 2%;
  padding-bottom: 1%;
  font-weight: 500;
}

/* .footer {
  display: block;
} */

small {
  right: 0;
}

/* javascript extras */

.hidden {
  display: none;
}

/* media queries */

@media all and (max-width: 1222px) {
  .contactWrapper {
    margin: 0 20% 0 20%;
  }
  .contact .shorter {
    margin: 5% 20% 0 20%;
  }
}

@media all and (max-width: 946px) {
  .local {
    display: none;
  }
  .desktop {
    margin: 0 auto;
    position: relative;
    padding: 2.5% 0;
  }
  #websection img {
    display: none;
  }
  .containerbar {
    margin-top: 0;
    margin: 0 8%;
  }
  .homeWrapper, .projectWrapper, .viewWrapper {
    margin: 0 8%;
  }
  .homeWrapper {
    padding: 20% 5%;
  }
  .projects .padded {
    margin: 0 8%;
  }
  .viewSection .short {
    margin: 0 8%;
  }
  .contact .shorter {
    margin-top: 0;
  }
  .mobile {
    display: block;
  }
  .catpics {
    margin: 0;
  }
  .scroller {
    height: 60vh;
  }
  .shortBio {
    flex-direction: column;
  }
  .shortBio img {
    width: 30%;
  }
}

@media all and (max-width: 476px) {
  ul {
    padding: 0 9px;
  }
}