html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
  background: url(https://images.unsplash.com/photo-1516166328576-82e16a127024?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80) no-repeat;
  background-size: cover;
  color: white;
}

/* DRY */

nav, .homeWrapper, .projectWrapper, .desktop, .projectWrapper div {
  display: flex;
}

/* NAVBAR */

nav {
  background-color: pink;
  font-family: 'Press Start 2P', cursive;
  padding: 2px;
}

li {
  list-style: none;
  display: inline-block;
}

.far {
  color: #1c4656;
}

/* Home.exe Section */

p {
  margin: 0;
  margin-bottom: 18px;
}

/* home.exe bar */

.containerbar {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(233, 204, 250, 0.781);
  margin: 7% 17% 0% 17%;
  border-width: 7px 7px 0px 7px;
  border-style: solid;
  border-color: white;
  padding-left: 2%;
  padding-bottom: 1px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

/* container below bar */

.homeWrapper {
  background-color: rgba(45, 35, 66, 0.3);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10% 10% 11% 10%;
  margin: 0% 17% 10% 17%;
  border: 7px inset white;
}

.projectWrapper {
  background-color: rgba(45, 35, 66, 0.3);
  flex-wrap: wrap;
  padding: 3% 4%;
  margin: 0% 27% 10% 27%;
  border: 7px inset white;
}

.projects .padded {
  margin: 7% 27% 0% 27%;
}

/* Desktop */

.desktop {
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 1% 0% 10% 85%;
}

.pinkfolder {
  max-width: 40%;
  padding-top: 1%;
}

.catpics {
  color: white;
  text-align: center;
  margin-top: 0;
}

/* links */

a {
  text-decoration: none;
}

li {
  cursor: pointer;
}

span {
  display: none;
  color: white;
}

/* Button */

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  margin: 0 6px;
  font-size: 1rem;
}

.meow {
  font-size: 1.2rem;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* projects.exe extras */

.fleximg {
  width: 100%;
}

.projectWrapper div {
  padding-bottom: 3%;
}

.scroller {
  /* width: 300px; */
  height: 50vh;
  overflow-y: scroll;
  /* scrollbar-width: thin; */
  box-sizing: content-box;
}

*::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.329);
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 192, 203, 0.774);
}

.one, .two, .three, .four {
  flex-direction: column;
  align-items: center;
}

/* javascript extras */

.hidden {
  display: none;
}

/* media queries */

@media all and (max-width: 900px) {
  /* .homeWindow {
    height: 50vh;
  } */
  .desktop {
    margin: 0 auto;
    position: relative;
    padding: 2.5% 0;
  }
  #websection img {
    display: none;
  }
  .containerbar {
    margin-top: 0;
    margin: 0 8%;
  }
  .homeWrapper, .projectWrapper {
    margin: 0 8%;
  }
  .homeWrapper {
    padding: 20% 5%;
  }
  .projects .padded {
    margin: 0 8%;
  }
  span {
    display: block;
  }
  .catpics {
    margin: 0;
  }
  .scroller {
    height: 60vh;
  }
}

@media all and (max-width: 476px) {
  ul {
    padding: 0 9px;
  }
}